In [1]:
!pip install bs4
!pip install requests
!pip install requests_html

Requirement already satisfied: bs4 in c:\users\akash\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\akash\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\akash\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\akash\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akash\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\akash\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\akash\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\akash\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: requests_html in c:\users\akash\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: pyquery in c:\users\akash\anaconda3\lib\site-packages (from requests_html) (1.4.3)
Requirement already satisfied: bs4 in c:\users\akash\anaconda3\lib\site-packages (from requests_html) (0.0.1)
Requirement already satisfied: requests in c:\users\akash\anaconda3\lib\site-packages (from requests_html) (2.24.0)
Requirement already satisfied: parse in c:\users\akash\anaconda3\lib\site-packages (from requests_html) (1.19.0)
Requirement already satisfied: fake-useragent in c:\users\akash\anaconda3\lib\site-packages (from requests_html) (0.1.11)
Requirement already satisfied: pyppeteer>=0.0.14 in c:\users\akash\anaconda3\lib\site-packages (from requests_html) (0.2.5)
Requirement already satisfied: w3lib in c:\users\akash\anaconda3\lib\site-packages (from requests_html) (1.22.0)
Requirement already satisfied: cssselect>0.7.9 in c:\users\akash\anaconda3\lib\site-packages (from pyquery->requests_html) (1.1.0)
Requirement already satisfied: lxml>=2.1 in c:\users\akash\anaconda3\lib\site-packages (from pyquery->requests_html) (4.6.1)
Requirement already satisfied: beautifulsoup4 in c:\users\akash\anaconda3\lib\site-packages (from bs4->requests_html) (4.9.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\akash\anaconda3\lib\site-packages (from requests->requests_html) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\akash\anaconda3\lib\site-packages (from requests->requests_html) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akash\anaconda3\lib\site-packages (from requests->requests_html) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\akash\anaconda3\lib\site-packages (from requests->requests_html) (1.25.11)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\akash\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (4.50.2)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\akash\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in c:\users\akash\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (8.1.0)
Requirement already satisfied: websockets<9.0,>=8.1 in c:\users\akash\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (8.1)
Requirement already satisfied: six>=1.4.1 in c:\users\akash\anaconda3\lib\site-packages (from w3lib->requests_html) (1.15.0)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\akash\anaconda3\lib\site-packages (from beautifulsoup4->bs4->requests_html) (2.0.1)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
print("Libraries Loaded Successfully!!")

Libraries Loaded Successfully!!

# Q1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [3]:
def header(url):
    p=requests.get(url)
    #p.content
    
    print(p.status_code)
    
    s=BeautifulSoup(p.content, "html.parser")
    
    #print(s.prettify())
    
    h=s.find_all('span', class_="mw-headline")
    header=[]
    
    for i in h:
        header.append(i.get_text())
    print(header)

In [4]:
header("https://en.wikipedia.org/wiki/Main_Page")

200
["From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']

# Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [5]:
pd.set_option("display.max_rows",None)

In [6]:
def imdb(url):
    p2=requests.get(url)
    #p2.content
    
    print(p2.status_code)
    
    s2=BeautifulSoup(p2.content, "html.parser")
    #print(s2.prettify())
    
    title1=s2.find_all('td', class_='titleColumn')
    movie_title=[]
    for i in title1:
        for j in i.find_all("a"):
            movie_title.append(j.text)
    
    year1=s2.find_all('span', class_='secondaryInfo')
    release_year=[]
    for i in year1:
        release_year.append(i.text)
            
    rating1=s2.find_all('td', class_='ratingColumn imdbRating')
    movie_rating=[]
    for i in rating1:
        for j in i.find_all("strong"):
            movie_rating.append(j.text)
            
    IMDB_MOVIES=pd.DataFrame()
    IMDB_MOVIES["Movie_Title"]=movie_title[0:100]
    IMDB_MOVIES["Release_Year"]=release_year[0:100]
    IMDB_MOVIES["Movie_Ratings"]=movie_rating[0:100]
    
    print(IMDB_MOVIES)

In [7]:
imdb("https://www.imdb.com/chart/top/")

200
                                          Movie_Title Release_Year  \
0                            The Shawshank Redemption       (1994)
1                                       The Godfather       (1972)
2                              The Godfather: Part II       (1974)
3                                     The Dark Knight       (2008)
4                                        12 Angry Men       (1957)
5                                    Schindler's List       (1993)
6       The Lord of the Rings: The Return of the King       (2003)
7                                        Pulp Fiction       (1994)
8                     Il buono, il brutto, il cattivo       (1966)
9   The Lord of the Rings: The Fellowship of the Ring       (2001)
10                                         Fight Club       (1999)
11                                       Forrest Gump       (1994)
12                                          Inception       (2010)
13              The Lord of the Rings: The Two Towers       (2002)
14     Star Wars: Episode V - The Empire Strikes Back       (1980)
15                                         The Matrix       (1999)
16                                         Goodfellas       (1990)
17                    One Flew Over the Cuckoo's Nest       (1975)
18                               Shichinin no samurai       (1954)
19                                              Se7en       (1995)
20                           The Silence of the Lambs       (1991)
21                                     Cidade de Deus       (2002)
22                              It's a Wonderful Life       (1946)
23                                    La vita è bella       (1997)
24                                          Star Wars       (1977)
25                                Saving Private Ryan       (1998)
26                      Sen to Chihiro no kamikakushi       (2001)
27                                     The Green Mile       (1999)
28                                       Interstellar       (2014)
29                                       Gisaengchung       (2019)
30                                               Léon       (1994)
31                                            Seppuku       (1962)
32                                 The Usual Suspects       (1995)
33                                        The Pianist       (2002)
34                                 Back to the Future       (1985)
35                         Terminator 2: Judgment Day       (1991)
36                                       Modern Times       (1936)
37                                             Psycho       (1960)
38                                      The Lion King       (1994)
39                                 American History X       (1998)
40                                        City Lights       (1931)
41                                          Gladiator       (2000)
42                                           Whiplash       (2014)
43                                       The Departed       (2006)
44                                     Hotaru no haka       (1988)
45                                   The Intouchables       (2011)
46                                       The Prestige       (2006)
47                                         Casablanca       (1942)
48                       Once Upon a Time in the West       (1968)
49                                        Rear Window       (1954)
50                              Nuovo Cinema Paradiso       (1988)
51                                              Alien       (1979)
52                                     Apocalypse Now       (1979)
53                                            Memento       (2000)
54                            Raiders of the Lost Ark       (1981)
55                                 The Great Dictator       (1940)
56                                The Lives of Others       (2006)
57                                   Django Unchained       (2012)
58                                     Paths of Glory       (1957)
59                                       Sunset Blvd.       (1950)
60                                             WALL·E       (2008)
61                                        The Shining       (1980)
62                        Witness for the Prosecution       (1957)
63                             Avengers: Infinity War       (2018)
64                                              Joker       (2019)
65  Dr. Strangelove or: How I Learned to Stop Worr...       (1964)
66                  Spider-Man: Into the Spider-Verse       (2018)
67                                           Oldeuboi       (2003)
68                                      Mononoke-hime       (1997)
69                                           Hamilton       (2020)
70                        Once Upon a Time in America       (1984)
71                                     Kimi no na wa.       (2016)
72                              The Dark Knight Rises       (2012)
73                                             Aliens       (1986)
74                                    Pather Panchali       (1955)
75                                               Coco       (2017)
76                                           Das Boot       (1981)
77                                         Capharnaüm       (2018)
78                                  Tengoku to jigoku       (1963)
79                                  Avengers: Endgame       (2019)
80                                    American Beauty       (1999)
81                                          Toy Story       (1995)
82                                         Braveheart       (1995)
83                                            Amadeus       (1984)
84                                           3 Idiots       (2009)
85                               Inglourious Basterds       (2009)
86                                  Good Will Hunting       (1997)
87         Star Wars: Episode VI - Return of the Jedi       (1983)
88                              2001: A Space Odyssey       (1968)
89                                     Reservoir Dogs       (1992)
90                  M - Eine Stadt sucht einen Mörder       (1931)
91                                   Taare Zameen Par       (2007)
92                                       Citizen Kane       (1941)
93                                            Vertigo       (1958)
94                                Requiem for a Dream       (2000)
95                                             Jagten       (2012)
96                                Singin' in the Rain       (1952)
97                                 North by Northwest       (1959)
98                                       Idi i smotri       (1985)
99              Eternal Sunshine of the Spotless Mind       (2004)

   Movie_Ratings
0            9.2
1            9.1
2            9.0
3            9.0
4            8.9
5            8.9
6            8.9
7            8.8
8            8.8
9            8.8
10           8.8
11           8.7
12           8.7
13           8.7
14           8.7
15           8.6
16           8.6
17           8.6
18           8.6
19           8.6
20           8.6
21           8.6
22           8.6
23           8.6
24           8.6
25           8.5
26           8.5
27           8.5
28           8.5
29           8.5
30           8.5
31           8.5
32           8.5
33           8.5
34           8.5
35           8.5
36           8.5
37           8.5
38           8.5
39           8.5
40           8.5
41           8.5
42           8.5
43           8.5
44           8.5
45           8.5
46           8.5
47           8.4
48           8.4
49           8.4
50           8.4
51           8.4
52           8.4
53           8.4
54           8.4
55           8.4
56           8.4
57           8.4
58           8.4
59           8.4
60           8.4
61           8.4
62           8.4
63           8.4
64           8.4
65           8.4
66           8.3
67           8.3
68           8.3
69           8.3
70           8.3
71           8.3
72           8.3
73           8.3
74           8.3
75           8.3
76           8.3
77           8.3
78           8.3
79           8.3
80           8.3
81           8.3
82           8.3
83           8.3
84           8.3
85           8.3
86           8.3
87           8.3
88           8.3
89           8.3
90           8.3
91           8.3
92           8.3
93           8.3
94           8.3
95           8.3
96           8.3
97           8.3
98           8.3
99           8.3

# Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [8]:
def imdb_indian(url):
    p3=requests.get(url)
    #p3.content
    
    print(p3.status_code)
    
    s3=BeautifulSoup(p3.content, 'html.parser')
    #print(s3.prettify())
    
    ind_title1=s3.find_all("td", class_='titleColumn')
    ind_movie=[]
    for i in ind_title1:
        for j in i.find_all("a"):
            ind_movie.append(j.text)
            
    ind_year_of_release=s3.find_all("span", class_="secondaryInfo")
    ind_year=[]
    for i in ind_year_of_release:
        ind_year.append(i.text)
        
    ind_rating=s3.find_all("td", class_='ratingColumn imdbRating')
    ind_ratings=[]
    for i in ind_rating:
        for j in i.find_all("strong"):
            ind_ratings.append(j.text)
            
    IMDB_MOVIES_IND=pd.DataFrame()
    IMDB_MOVIES_IND["Movie Title"]=ind_movie[0:100]
    IMDB_MOVIES_IND["Release Year"]=ind_year[0:100]
    IMDB_MOVIES_IND["Movie Rating"]=ind_ratings[0:100]
    
    print(IMDB_MOVIES_IND)

In [9]:
imdb_indian("https://www.imdb.com/india/top-rated-indian-movies/")

200
                          Movie Title Release Year Movie Rating
0                     Pather Panchali       (1955)          8.5
1                             Nayakan       (1987)          8.5
2                   Pariyerum Perumal       (2018)          8.5
3                          Anbe Sivam       (2003)          8.5
4                             Golmaal       (1979)          8.5
5                         Apur Sansar       (1959)          8.5
6                   C/o Kancharapalem       (2018)          8.5
7                    Manichitrathazhu       (1993)          8.4
8                            Kireedam       (1989)          8.4
9                           Natsamrat       (2016)          8.4
10                         Drishyam 2       (2021)          8.4
11                                 96       (2018)          8.4
12                       Black Friday       (2004)          8.4
13                       Thevar Magan       (1992)          8.4
14                  Kumbalangi Nights       (2019)          8.4
15                           3 Idiots       (2009)          8.3
16                         Visaaranai       (2015)          8.3
17                   Taare Zameen Par       (2007)          8.3
18                             Jersey       (2019)          8.3
19                           Ratsasan       (2018)          8.3
20                         Thalapathi       (1991)          8.3
21                             Dangal       (2016)          8.3
22                    Soorarai Pottru       (2020)          8.3
23                             Asuran       (2019)          8.3
24                             Kaithi       (2019)          8.3
25                          Aparajito       (1956)          8.3
26                          Devasuram       (1993)          8.3
27                 Jaane Bhi Do Yaaro       (1983)          8.3
28                             Pyaasa       (1957)          8.3
29                            Peranbu       (2018)          8.3
30                              Guide       (1965)          8.3
31                       Vada Chennai       (2018)          8.3
32                       Thani Oruvan       (2015)          8.2
33              Kannathil Muthamittal       (2002)          8.2
34                      Chupke Chupke       (1975)          8.2
35                             Iruvar       (1997)          8.2
36                           Spadikam       (1995)          8.2
37        Agent Sai Srinivasa Athreya       (2019)          8.2
38                           Drishyam       (2013)          8.2
39                       Vikram Vedha       (2017)          8.2
40                       Super Deluxe       (2019)          8.2
41                              Aruvi       (2016)          8.2
42                            Tumbbad       (2018)          8.2
43                           Mahanati       (2018)          8.2
44                  Khosla Ka Ghosla!       (2006)          8.2
45                              Anand       (1971)          8.2
46                       Pudhu Pettai       (2006)          8.2
47                             Premam       (2015)          8.2
48                     Kaakkaa Muttai       (2014)          8.2
49                            Anniyan       (2005)          8.2
50                          Andhadhun       (2018)          8.2
51                     Bangalore Days       (2014)          8.2
52                          Mudhalvan       (1999)          8.2
53             Dhuruvangal Pathinaaru       (2016)          8.2
54                          Papanasam       (2015)          8.2
55                              Satya       (1998)          8.2
56                             Shahid       (2012)          8.2
57                      Soodhu Kavvum       (2013)          8.2
58                        Jigarthanda       (2014)          8.1
59                         Pithamagan       (2003)          8.1
60                 Gangs of Wasseypur       (2012)          8.1
61                   Paan Singh Tomar       (2012)          8.1
62                             Sairat       (2016)          8.1
63                 Bhaag Milkha Bhaag       (2013)          8.1
64                             Talvar       (2015)          8.1
65                         Hera Pheri       (2000)          8.1
66             Swades: We, the People       (2004)          8.1
67                             Sholay       (1975)          8.1
68                              Black       (2005)          8.1
69                     Chak De! India       (2007)          8.1
70                        Ustad Hotel       (2012)          8.1
71                 Nil Battey Sannata       (2015)          8.1
72             Jo Jeeta Wohi Sikandar       (1992)          8.1
73                           Drishyam       (2015)          8.1
74                      Mughal-E-Azam       (1960)          8.1
75                          Charulata       (1964)          8.1
76           Zindagi Na Milegi Dobara       (2011)          8.1
77            Maheshinte Prathikaaram       (2016)          8.1
78                         Article 15       (2019)          8.1
79                              Udaan       (2010)          8.1
80                        A Wednesday       (2008)          8.1
81           Theeran adhigaaram ondru       (2017)          8.1
82                              Queen       (2013)          8.1
83                             Masaan       (2015)          8.1
84                          Sarfarosh       (1999)          8.1
85                Munna Bhai M.B.B.S.       (2003)          8.1
86                      Alai Payuthey       (2000)          8.1
87                     Dil Chahta Hai       (2001)          8.1
88                               Roja       (1992)          8.1
89                    OMG: Oh My God!       (2012)          8.1
90                             Baasha       (1995)          8.1
91                    Rang De Basanti       (2006)          8.1
92  Lagaan: Once Upon a Time in India       (2001)          8.1
93                            Kahaani       (2012)          8.1
94                    Andaz Apna Apna       (1994)          8.1
95                         Chhichhore       (2019)          8.1
96           Uri: The Surgical Strike       (2018)          8.1
97                          Virumandi       (2004)          8.1
98                                 PK       (2014)          8.1
99                              Lucia       (2013)          8.1

# Q4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’.

In [10]:
def bookreview(url):
    p4=requests.get(url)
    #p4.content
    
    print(p4.status_code)
    
    s4=BeautifulSoup(p4.content, "html.parser")
    #print(s4.prettify())
    
    book=s4.find_all("h4", class_="italic")
    book_name=[]
    for i in book:
        for j in i.find_all("a"):
            book_name.append(j.text.strip("\n"))
            
    author=s4.find_all("p", class_='sans bold')
    book_author=[]
    for i in author:
        book_author.append(i.text.strip("\n"))
        
    review=s4.find_all("p", class_='excerpt')
    book_review=[]
    for i in review:
        book_review.append(i.text.strip("\n"))
        
    BOOK_REVIEWS=pd.DataFrame()
    BOOK_REVIEWS["Book Name"]=book_name[0:5]
    BOOK_REVIEWS["Author"]=book_author[0:5]
    BOOK_REVIEWS["Reviews"]=book_review[0:5]
    
    print(BOOK_REVIEWS)

In [11]:
bookreview("https://bookpage.com/reviews")

200
                   Book Name                Author  \
0             ★ The Ugly Cry    Danielle Henderson
1    ★ Indestructible Object            Mary McCoy
2   ★ How the Word Is Passed           Clint Smith
3       ★ Seven Days in June          Tia Williams
4     ★ The Other Black Girl  Zakiya Dalila Harris

                                             Reviews
0  Danielle Henderson brings her family to life u...
1  With her parents’ looming divorce echoing her ...
2  Clint Smith's gifts as both a poet and a schol...
3  Readers will feel as attached to Tia Williams’...
4  Brilliantly positioned at the intersection of ...

# Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

         i. Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [12]:
def ODI_MEN(url):
    p5 = requests.get(url)
    #p5.content
    print(p5.status_code)
    
    s5 = BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    team1 = s5.find_all('span', class_='u-hide-phablet')
    Team_Name = []
    for i in team1:
        Team_Name.append(i.text)
        
    match1 = s5.find_all('td', class_='rankings-block__banner--matches')
    Matches = []
    for i in match1:
        Matches.append(i.text)
        
    point1 = s5.find_all('td', class_='rankings-block__banner--points')
    Point = []
    for i in point1:
        Point.append(i.text) 
    
    rating1 = s5.find_all('td', class_='rankings-block__banner--rating u-text-right')
    Rating = []
    for i in rating1:
        Rating.append(i.text.strip('\n'))
    Ratings = [] 
    Ratings.append(Rating[0].strip())
    
    match1 = s5.find_all('td', class_='table-body__cell u-center-text')
    k = []
    for i in range(0,len(match1),2):
        k.append(match1[i])
    for i in k:
        Matches.append(i.get_text())
        
    k = []
    for i in range(1,len(match1),2):
        k.append(match1[i])
    for i in k:
        Point.append(i.get_text())
        
    rating1 = s5.find_all('td', class_='table-body__cell u-text-right rating')
    for i in rating1:
        Ratings.append(i.get_text().strip('\n'))
        
    ODI_MEN = pd.DataFrame()
    ODI_MEN['Team_Name'] = Team_Name[0:10]
    ODI_MEN['Matches'] = Matches[0:10]
    ODI_MEN['Ratings'] = Ratings[0:10]
    ODI_MEN['Point'] = Point[0:10]
    
    print(ODI_MEN)

In [13]:
ODI_MEN("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

200
      Team_Name Matches Ratings  Point
0   New Zealand      17     121  2,054
1     Australia      25     118  2,945
2         India      29     115  3,344
3       England      27     115  3,100
4  South Africa      20     107  2,137
5      Pakistan      24      97  2,323
6    Bangladesh      27      90  2,438
7   West Indies      27      82  2,222
8     Sri Lanka      24      78  1,876
9   Afghanistan      17      62  1,054

               ii. Top 10 ODI Batsmen in men along with the records of their team and rating.

In [14]:
def ODI_Batsmen(url):
    p5=requests.get(url)
    #p5.content
    
    print(p5.status_code)
    
    s5=BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    player=s5.find_all('div', class_='rankings-block__banner--name-large')
    player_name=[]
    for i in player:
        player_name.append(i.text)
        
    player2=s5.find_all('td', class_='table-body__cell rankings-table__name name')
    for i in player2:
        for j in i.find_all("a"):
            player_name.append(j.text)
        
    team1=s5.find_all("div", class_="rankings-block__banner--nationality")
    team_name=[]
    for i in team1:
        team_name.append(i.text.replace("\n",""))
        
    team2=s5.find_all("span", class_='table-body__logo-text')
    for i in team2:
        team_name.append(i.text)
        
    rating1=s5.find_all("div", class_="rankings-block__banner--rating")
    player_rating=[]
    for i in rating1:
        player_rating.append(i.text)
        
    rating2=s5.find_all("td", class_="table-body__cell rating")
    for i in rating2:
        player_rating.append(i.text)
        
    ODI_BATSMEN_RANKINGS=pd.DataFrame()
    ODI_BATSMEN_RANKINGS["Player Name"]=player_name[0:10]
    ODI_BATSMEN_RANKINGS["Team"]=team_name[0:10]
    ODI_BATSMEN_RANKINGS["Rating"]=player_rating[0:10]
    
    print(ODI_BATSMEN_RANKINGS)

In [15]:
ODI_Batsmen("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/Batting")

200
           Player Name Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

                iii. Top 10 ODI bowlers along with the records of their team and rating.

In [16]:
def ODI_Bowler(url):
    p5=requests.get(url)
    #p5.content
    
    print(p5.status_code)
    
    s5=BeautifulSoup(p5.content,"html.parser")
    #print(s5.prettify())
    
    player1=s5.find_all("div",class_="rankings-block__banner--name-large")
    player_name=[]
    for i in player1:
        player_name.append(i.text)
        
    player2=s5.find_all("td",class_="table-body__cell rankings-table__name name")
    for i in player2:
        player_name.append(i.text.replace("\n",""))
        
    team1=s5.find_all("div",class_="rankings-block__banner--nationality")
    team_name=[]
    for i in team1:
        team_name.append(i.text.replace("\n",""))
        
    team2=s5.find_all("span",class_="table-body__logo-text")
    for i in team2:
        team_name.append(i.text)
        
    rating1=s5.find_all("div",class_="rankings-block__banner--rating")
    player_rating=[]
    for i in rating1:
        player_rating.append(i.text)
        
    rating2=s5.find_all("td",class_="table-body__cell rating")
    for i in rating2:
        player_rating.append(i.text)
        
    
    ODI_BOWLER_RANKINGS=pd.DataFrame()
    ODI_BOWLER_RANKINGS["Player Name"]=player_name[0:10]
    ODI_BOWLER_RANKINGS["Team"]=team_name[0:10]
    ODI_BOWLER_RANKINGS["Ratings"]=player_rating[0:10]
    
    print(ODI_BOWLER_RANKINGS)

In [17]:
ODI_Bowler("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/Bowling")

200
         Player Name Team Ratings
0        Trent Boult   NZ     737
1       Mehedi Hasan  BAN     713
2   Mujeeb Ur Rahman  AFG     708
3         Matt Henry   NZ     691
4     Jasprit Bumrah  IND     690
5      Kagiso Rabada   SA     666
6       Chris Woakes  ENG     665
7     Josh Hazlewood  AUS     660
8        Pat Cummins  AUS     646
9  Mustafizur Rahman  BAN     645

# Q6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

         i. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [18]:
def ODI_WOMEN(url):
    p6 = requests.get(url)
    #p6.content
    print(p6.status_code)
    
    s6 = BeautifulSoup(p6.content, "html.parser")
    #print(s6.prettify())
    
    team1 = s6.find_all('span', class_='u-hide-phablet')
    Team_Name = []
    for i in team1:
        Team_Name.append(i.text)
        
    match1 = s6.find_all('td', class_='rankings-block__banner--matches')
    Matches = []
    for i in match1:
        Matches.append(i.text)
        
    point1 = s6.find_all('td', class_='rankings-block__banner--points')
    Point = []
    for i in point1:
        Point.append(i.text) 
    
    rating1 = s6.find_all('td', class_='rankings-block__banner--rating u-text-right')
    Rating = []
    for i in rating1:
        Rating.append(i.text.strip('\n'))
    Ratings = [] 
    Ratings.append(Rating[0].strip())
    
    match1 = s6.find_all('td', class_='table-body__cell u-center-text')
    k = []
    for i in range(0,len(match1),2):
        k.append(match1[i])
    for i in k:
        Matches.append(i.get_text())
        
    k = []
    for i in range(1,len(match1),2):
        k.append(match1[i])
    for i in k:
        Point.append(i.get_text())
        
    rating1 = s6.find_all('td', class_='table-body__cell u-text-right rating')
    for i in rating1:
        Ratings.append(i.get_text().strip('\n'))
            
    ODI_Women = pd.DataFrame()
    ODI_Women['Team_Name'] = Team_Name[0:10]
    ODI_Women['Matches'] = Matches[0:10]
    ODI_Women['Ratings'] = Ratings[0:10]
    ODI_Women['Point'] = Point[0:10]
    
    print(ODI_Women)

In [19]:
ODI_WOMEN("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

200
      Team_Name Matches Ratings  Point
0     Australia      18     164  2,955
1  South Africa      24     118  2,828
2       England      17     117  1,993
3         India      20     111  2,226
4   New Zealand      21      93  1,947
5   West Indies      12      85  1,025
6      Pakistan      15      73  1,101
7    Bangladesh       5      61    306
8     Sri Lanka      11      47    519
9       Ireland       2      13     25

                ii. Top 10 women’s ODI players along with the records of their team and rating.

In [20]:
def ODI_Woman(url):
    p6 = requests.get(url)
    #p6.content
    print(p6.status_code)
    
    s6 = BeautifulSoup(p6.content, "html.parser")
    #print(s6.prettify())
    
    player1 = s6.find_all('div', class_='rankings-block__banner--name-large')
    Player = []
    for i in player1:
        Player.append(i.text)
    
    player2 = s6.find_all('td', class_='table-body__cell rankings-table__name name')
    for i in player2:
        for j in i.find_all("a"):
            Player.append(j.text)
            
    team1 = s6.find("div", class_="rankings-block__banner--nationality")
    Team = []
    Team.append(team1.text.strip())
    
    team2 = s6.find_all("span", class_='table-body__logo-text')
    for i in team2:
        Team.append(i.text)
        
    rating1 = s6.find_all('td', class_='table-body__cell rating')
    Rating = []
    for i in rating1:
        Rating.append(i.text)
        
    ODI_Woman = pd.DataFrame()
    ODI_Woman['Team'] = Team[0:10]
    ODI_Woman['Player'] = Player[0:10]
    ODI_Woman['Rating'] = Rating[0:10]
    print(ODI_Woman)

In [21]:
ODI_Woman("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

200
  Team             Player Rating
0  ENG     Tammy Beaumont    758
1   SA        Lizelle Lee    756
2  AUS       Alyssa Healy    746
3   WI    Stafanie Taylor    723
4  AUS        Meg Lanning    715
5   NZ  Amy Satterthwaite    710
6  IND    Smriti Mandhana    709
7  IND        Mithali Raj    685
8  ENG     Natalie Sciver    683
9   SA    Laura Wolvaardt    679

            iii. Top 10 women’s ODI all-rounder along with the records of their team and rating

In [22]:
def ODI_Allrounder_Woman(url):
    p6 = requests.get(url)
    #p6.content
    print(p6.status_code)
    
    s6 = BeautifulSoup(p6.content, "html.parser")
    #print(s6.prettify())
    
    player1 = s6.find_all('div', class_='rankings-block__banner--name-large')
    Player = []
    for i in player1:
        Player.append(i.text)
    
    player2 = s6.find_all('td', class_='table-body__cell rankings-table__name name')
    for i in player2:
        for j in i.find_all("a"):
            Player.append(j.text)
            
    team1 = s6.find("div", class_="rankings-block__banner--nationality")
    Team = []
    Team.append(team1.text.strip())
    
    team2 = s6.find_all("span", class_='table-body__logo-text')
    for i in team2:
        Team.append(i.text)
        
    rating1 = s6.find_all('td', class_='table-body__cell rating')
    Rating = []
    for i in rating1:
        Rating.append(i.text)
        
    ODI_Allrounder_Woman = pd.DataFrame()
    ODI_Allrounder_Woman['Team'] = Team[0:10]
    ODI_Allrounder_Woman['Player'] = Player[0:10]
    ODI_Allrounder_Woman['Rating'] = Rating[0:10]
    
    print(ODI_Allrounder_Woman)

In [23]:
ODI_Allrounder_Woman("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

200
  Team            Player Rating
0   SA    Marizanne Kapp    418
1  AUS      Ellyse Perry    410
2   WI   Stafanie Taylor    349
3  ENG    Natalie Sciver    343
4  IND     Deepti Sharma    307
5  AUS     Jess Jonassen    252
6  AUS  Ashleigh Gardner    243
7   SA  Dane van Niekerk    242
8   NZ     Sophie Devine    236
9   NZ       Amelia Kerr    236

# Q7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [24]:
p7=requests.get("https://www.amazon.in/Smartphones-%E2%82%B910-000-%E2%82%B920-Basic-Mobiles/s?rh=n%3A1805560031%2Cp_36%3A1318506031")
p7

# As we can see we are not getting Response 200 and inplace getting Response 503, so we cannot extract data using Web Scraping as this webpage does not allow web scraping to extract data

# Q8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

# Q9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [25]:
def Job_Search(url):
    p9 = requests.get(url)
    #p9.content
    print(p9.status_code)
    
    s9 = BeautifulSoup(p9.content, "html.parser")
    #print(s9.prettify())
    
    job_title = []
    company_name = []
    annual_ctc = []
    apply_date = []
    
    temp = []
    
    get_titles = s9.find_all('div',class_ = "heading_4_5 profile")   
    get_companies = s9.find_all('a', class_ = 'link_display_like_text')
    get_ctcadate = s9.find_all('div',class_ = "item_body", id = False)
    
    for cdate in get_ctcadate:
        temp.append(cdate.text.strip())
        
    for t, c in zip(get_titles, get_companies):
        job_title.append(t.text.strip())
        company_name.append(c.text.strip())
    
    for i in temp:
        annual_ctc.append(i) if 'LPA' in i else apply_date.append(i)
            
    Job_Search = pd.DataFrame({'Title': job_title,
                     'Company': company_name,
                     'CTC': annual_ctc,
                     'Apply Date': apply_date
                     })
    
    print(Job_Search.head())

In [26]:
Job_Search("https://internshala.com/fresher-jobs")

200
                               Title                        Company  \
0            PHP & LARAVEL DEVELOPER                     Nyx Wolves
1  Backend Developer (Ruby On Rails)  Wollfish Labs Private Limited
2        Customer Service Specialist                       Wono Inc
3                   Graphic Designer                       Wono Inc
4       Digital Marketing Specialist                       Wono Inc

             CTC Apply Date
0   3 - 3.05 LPA  4 Jul' 21
1      6 - 8 LPA  4 Jul' 21
2  5.2 - 6.4 LPA  3 Jul' 21
3    5 - 6.5 LPA  3 Jul' 21
4    5 - 6.5 LPA  3 Jul' 21