In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Importing the required libraries into Python

* Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering Data into Search Bars :-

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg") 
search_field_location=driver.find_element_by_id('qsb-location-sugg') 
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")


# clicking the search button:-

search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)

# creating empty lists for scraping data and use the scraped data to make DataFrame:-

job_title=[]
job_location=[]
company_name=[]
experience_required=[]


#scraping the job-titles:-

titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)

#scraping the job-location:-

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)

#scraping the company_name:-

companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]


time.sleep(4)

#scraping the experience_required:-

experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)


time.sleep(4)

# creating the dataframe from the scraped data and taking only first 10 jobs:-

JOBS=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
JOBS

,experience_required,company_name,job_location,job_title
0,3-5 Yrs,IBM India Pvt. Limited,Bangalore/Bengaluru,Data analysts
1,5-6 Yrs,(9912 Reviews),Bengaluru/Bangalore,Data analysts
2,0-4 Yrs,IBM India Pvt. Limited,Bangalore/Bengaluru,Data Analyst
3,2-3 Yrs,(9912 Reviews),Bangalore/Bengaluru,Consultant-Data Analyst -Bangalore
4,2-5 Yrs,Zilingo.com,Bangalore/Bengaluru,Data Analyst / Sr. Data Analyst - SQL
5,4-6 Yrs,(11 Reviews),Bangalore/Bengaluru,Senior Associate - Data Analyst
6,3-6 Yrs,Innovsource Services Private Limited,Bangalore/Bengaluru,Data Analyst (Ops portal)
7,3-5 Yrs,(641 Reviews),Bangalore/Bengaluru,Data Analyst
8,2-5 Yrs,Naukri Premium - Employer Services,Bangalore/Bengaluru,Data Analyst
9,4-8 Yrs,Sapient,Bangalore/Bengaluru,Advanced Services Engineer - Data Analyst

* Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [8]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering Data into Search Bars:-

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   
search_field_location=driver.find_element_by_id('qsb-location-sugg') 
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")


# clicking the search button:-

search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)

# creating empty lists for scraping data:-

job_title=[]
job_location=[]
company_name=[]
full_job_description=[]


#scraping the job-titles:-

titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)

#scraping the job-location:-

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4) 

#scraping the company_name:-

companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)


        
        
 # creating the dataframe from the scraped data and taking only first 10 jobs
DSJOBS=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10]})
DSJOBS

,job_title,company_name,job_location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
1,Data Scientist,Oracle India Pvt. Ltd.,"Noida, Bangalore/Bengaluru"
2,Senior Data Scientist,(1910 Reviews),Bangalore/Bengaluru
3,Senior Data Scientist,Baker Hughes - The Network,Bangalore/Bengaluru
4,Lead Data Scientist,(238 Reviews),Bangalore/Bengaluru
5,Senior Data Scientist,FabHotel Aay Kay Model Town,Bangalore/Bengaluru
6,Senior Data Scientist,(182 Reviews),"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
7,Senior Data Scientist,Becton Dickinson India Pvt Ltd,"Chennai, Bangalore/Bengaluru, Vadodara"
8,Lead Data Scientist - Machine Learning/ Data M...,(115 Reviews),Bangalore/Bengaluru
9,Data Scientist IV,24/7 Customer,Bangalore/Bengaluru

* Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [9]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering Data into Search Bars:-

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg") 
search_field_designation.send_keys("Data Scientist")

# clicking the search button:-

search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


# creating empty lists for scraping data:-

job_title=[]
job_location=[]
company_name=[]
experience_required=[]


time.sleep(3)

#finding the delhi/ncr check box:-

loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p")
loc.click()

time.sleep(2)

# finding the salary check box:-

slry_box = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p")
slry_box.click()

time.sleep(3)

#scraping the job-titles:-

titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
        

time.sleep(3)

#scraping the job-location:-

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        

time.sleep(3)

#scraping the company_name:-

companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
        

time.sleep(3)

#scraping the experience_required:-

experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
            
time.sleep(3)

 # creating the dataframe from the scraped data and taking only first 10 jobs:-
    
Delhi_NCR_Jobs=pd.DataFrame({"job_title":job_title[0:10],"experience_required":experience_required[0:10],"company_name":company_name[0:10],
                 "job_location":job_location[0:10]})
Delhi_NCR_Jobs

,job_title,experience_required,company_name,job_location
0,Data Scientist/Data Analyst /Business Analyst,0-3 Yrs,Inflexion Analytix Private Limited,"Pune, Delhi / NCR, Mumbai (All Areas)"
1,Advanced Analytics -Data Scientist,3-7 Yrs,ERM Placement Services (P) Ltd.,"New Delhi, Hyderabad/Secunderabad"
2,Data Scientist - Machine Learning/ NLP,2-6 Yrs,TalPro,Gurgaon/Gurugram
3,Only Fresher / Data Scientist / Data Analyst /...,0-0 Yrs,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR"
4,Data Scientist - Text NLP | Noida,3-5 Yrs,Acidaes Solutions Pvt. Ltd.,Noida
5,Data Scientist - Machine Learning/NLP,2-6 Yrs,(67 Reviews),Gurgaon/Gurugram
6,Data analytics / Data scientist intern (work f...,0-5 Yrs,TalPro,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
7,Chaayos is Looking For Data Scientist,0-5 Yrs,TalkValley LLC,New Delhi
8,Data Scientist -Delhi,5-8 Yrs,Chaayos (Sunshine Teahouse Pvt. Ltd.),New Delhi
9,Data Scientist,3-7 Yrs,(159 Reviews),"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
WEB SCRAPING ASSIGNMENT-2
.
5. Finally create a dataframe of the scraped data.

In [11]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

# Entering the Login Credentials and logged in using Facebook on Glassdoor website

In [12]:
# Entering Data into Search Bars:-

search_field_designation=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input") 
search_field_designation.send_keys("Data Scientist")

time.sleep(2)

search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")
search_field_location.clear() 
search_field_location.send_keys("Noida")

time.sleep(2)

# clicking the search button:-

search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()


# creating empty lists for scraping data:-

company_ratings=[]
company_name=[]
days_ago=[]


time.sleep(3)

# finding the element where company name is present:-

companies=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

        
time.sleep(3)        

# finding the element where ratings of the company  is present:-

ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
        

time.sleep(3)

# finding the element where No. of days ago when job was posted is present:-

days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text)
        
        
time.sleep(3)        

 # creating the dataframe from the scraped data and taking only first 10 jobs
Noida_Jobs=pd.DataFrame({"company_name":company_name[0:10],"company_ratings":company_ratings[0:10],"days_ago":days_ago[0:10]})
Noida_Jobs

                                      company_name company_ratings days_ago
0                                      FE Fundinfo             4.5      17d
1                                           PayPal             4.3      12d
2  Siemens Technology and Services Private Limited             4.1      15d
3                                           PayPal             4.3      12d
4                           Applied Materials Inc.             4.0      23d
5                                  Springer Nature             3.6       9d
6                                       MakeMyTrip             4.3      15d
7                                        Microsoft             4.4       1d
8                                       AlphaSense             4.3      15d
9                         Tata Insights and Quants             3.8       3d

* Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [16]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

# Entering the Login Credentials and logged in using Facebook on Glassdoor website

In [18]:
# Entering Data into Search Bars:-

search_field_designation=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input") 
search_field_designation.send_keys("Data Scientist")

time.sleep(2)

# clearing job location search_bar:-

from selenium.webdriver.common.keys import Keys
for i in range(9):
    driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input").send_keys(Keys.BACK_SPACE)

#location search bar:-

search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")  
search_field_location.send_keys("Noida")

time.sleep(2)

# Select salary option:-

option = driver.find_element_by_xpath("//div[@class='selectedLabel']")
option.click()
time.sleep(2)

salary_option = driver.find_element_by_xpath("//div[@class='dropDownOptionsContainer']//ul//li[3]")
salary_option.click()

time.sleep(2)

# clicking the search button:-

search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

# creating empty lists for scraping data:-

company_name=[]
min_salaries=[]
max_salaries=[]
average_salaries=[]
no_of_salaries=[]


time.sleep(3)

# finding the element where company_name is present:-

company=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in company:
    if i.text is None :
        company_name.append("--")      
    else:
        company_name.append(i.text)
        
time.sleep(3)       

# finding the element where min salary is present:-

min_salary = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[1]")
for i in min_salary:
    if i.text is None:
        min_salaries.append("--")
    else:
        min_salaries.append(i.text)
        
time.sleep(3) 

# finding the element where max salary is present:-

max_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
for i in max_salary:
    if i.text is None :
        max_salaries.append("--") 
    else:
        max_salaries.append(i.text)
        
time.sleep(3)   

# finding the element where average salary is present:-

average_salary=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for i in average_salary:
    if i.text is None :
        average_salaries.append("--") 
    else:
        average_salaries.append(i.text)
        
time.sleep(3)     

# finding the element where no_of_salary is present:-

no_of_salary=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
for i in no_of_salary:
    if i.text is None :
        no_of_salaries.append("--") 
    else:
        no_of_salaries.append(i.text)
        
time.sleep(3)  
        
 # creating the dataframe from the scraped data:-

Jobs_DS=pd.DataFrame({"company_name":company_name,"min_salaries":min_salaries,"max_salaries":max_salaries,
                 "average_salaries":average_salaries,"no_of_salaries":no_of_salaries})
Jobs_DS

Empty DataFrame
Columns: [company_name, min_salaries, max_salaries, average_salaries, no_of_salaries]
Index: []

* Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount 
To scrape 
the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it

In [21]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)

In [22]:
#locating the search bar:-

search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

time.sleep(2)

#locating the button and clicking it to search for sunglasses:-

button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list:-

brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)

#scrapping the required details:-

start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

time.sleep(3)   

#creating a dataframe:-

Flipkart=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})

Flipkart

,Brand,Description,Price,Discount
0,LIZA ANGEL,"Polarized, UV Protection Round Sunglasses (49)",₹233,70% off
1,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹664,66% off
2,Fastrack,UV Protection Aviator Sunglasses (54),₹459,48% off
3,PIRASO,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹250,84% off
4,kingsunglasses,"Mirrored, UV Protection Rectangular Sunglasses...",₹299,88% off
...,...,...,...,...
95,AISLIN,"UV Protection, Night Vision, Riding Glasses Av...",₹825,79% off
96,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹976,₹323 off
97,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹677,₹222 off
98,Fastrack,UV Protection Round Sunglasses (52),₹529,41% off
99,GANSTA,"UV Protection, Polarized Aviator Sunglasses (60)",₹292,85% off

* Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
you have to scrape the below mention attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews

In [23]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

# Creating empty list:-

urls=[]
short_review=[]
complete_review=[]
stars=[]

time.sleep(4)

# Taking 10 pages into consideration using for loop
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)

    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
    
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)

    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
# Combining all the lists into a single dataframe:-

Iphone11=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
Iphone11

,Number of Stars,Short Review,Full Review
0,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
1,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
2,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,It’s been almost a month since I have been usi...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Simply awesome,Really satisfied with the Product I received.....
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

* Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [24]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)

log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()

time.sleep(2)

# locating the search bar:-

search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

time.sleep(2)

# locating the button and clicking it to search for sneakers:-

button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


# creating the empty list:-

brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)

# scrapping the required details:-

start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)

# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)

for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)

#creating a dataframe:-

Sneakers=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})

Sneakers

,Brand,Description,Price,Discount
0,3SIX5,Rigel IDP Sneakers For Men (Black),₹689,72% off
1,Extoes,Sneakers For Men (Black),₹499,50% off
2,Robbie jones,Puma Flex Renew Sneakers For Men (Black),₹379,62% off
3,CALCADOS,Combo of 5 Multicolor Casual Sneakers Shoes Fo...,₹748,62% off
4,Shoes Bank,"Casual , Partywear Sneakers Shoes For Men's An...",₹349,65% off
...,...,...,...,...
95,Birde,Combo Pack of 5 Casual Shoes Loafers Sneakers ...,₹588,77% off
96,Jack Diamond,"Street Smart Sneakers For Men (White, Blue)",₹630,52% off
97,SHOEFLY,Dexster Slip On IDP Sneakers For Men (Blue),₹498,65% off
98,Chevit,Trendy Sneakers For Men (Red),₹448,15% off
99,U.S. POLO ASSN.,LEONEL Sneakers For Men (White),"₹3,999",55% off

Q9."https://www.myntra.com/shoes". 
Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [26]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.myntra.com/shoes%22"
driver.get(url)

time.sleep(2)

#clicking on price filter:-

price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()

#clicking on black color filter:-

black_color_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_color_button.click()



#creating empty lists:-

shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []

time.sleep(4)

# scrape next pages urls:-

nxt_page = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") #for scrapping shoe short-description
    for i in desc:
        s_desc.append(i.text)
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)    
        
Shoes=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
Shoes

,Brand,Short-description,Price
0,Puma,Men IGNITE Dual Running Shoes,Rs. 3499Rs. 6999(50% OFF)
1,Provogue,Men Knitted Upper Running Sport Shoes,Rs. 679Rs. 3395(80% OFF)
2,REFOAM,Men Running Shoes,Rs. 909Rs. 3249(72% OFF)
3,Nike,Unisex LEBRON XVIII Basketball,Rs. 17595
4,Duke,Men Loafers,Rs. 918Rs. 2295(60% OFF)
...,...,...,...
95,mr.wonker,Men Fly Sneakers,Rs. 665Rs. 3329(80% OFF)
96,Puma,Men Dart IDP Sneakers,Rs. 1599Rs. 3999(60% OFF)
97,mr.wonker,Men Textured Leather Driving Shoes,Rs. 665Rs. 3329(80% OFF)
98,U.S. Polo Assn.,Men Solid Sneakers,Rs. 1329Rs. 3799(65% OFF)
99,HIGHLANDER,Men Skate Street Sneakers,Rs. 696Rs. 1990(65% OFF)

* Q10:  Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [27]:
driver=webdriver.Edge(r"C:\Users\Akash\Downloads\msedgedriver.exe")
time.sleep(4)

url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)


#creating the empty list:-

Title=[]
Ratings=[]
price=[]

time.sleep(2)

#locating the search bar:-

search_bar = driver.find_element_by_id("twotabsearchtextbox")    
search_bar.clear()                                               
search_bar.send_keys("laptops")                                  
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')    
search_button.click()    

time.sleep(2)

#locating the core i7 filter:-

filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
        
#Scrapping Titles:-

titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price:-

prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings:-

urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe:-

Laptop=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})

Laptop

                                               Title   Price       Ratings
0  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  78,903  3.9 out of 5
1  HP Pavilion (2021) Thin & Light 11th Gen Core ...  84,990  4.5 out of 5
2  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...  46,999     NO rating
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999  4.4 out of 5
4  Dell Inspiron 5410 14" FHD Touch Display 2in1 ...  91,990  4.5 out of 5
5  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...  54,999     NO rating
6  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  86,990  4.2 out of 5
7  HP Pavilion Gaming(2021) 10th Gen Intel Core i...  91,990    3 out of 5
8  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...  46,999     NO rating
9  (Renewed) Dell XPS Intel 8th Gen Core i7 13.3-...  89,490     NO rating